header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.NavHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
}