/**
* Documentation
*
* Foi adicionado além das propriedades raiz, classes que servem como direcionamento para a estrutura do projeto, 
* como títulos, páragrafos e botões, principalmente questões de cores e estrutura dos elementos raiz.
* 
*/

:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Text Colors */

  --title-color: #0f0f0f;
  --icon-color: #000000;
  --description-color: #606060;
  --text-white: #ffffff;

  /* Background Colors */
  
  --button-background-color: #f2f2f2;
  --button-active-background-color: #0f0f0f;
  
}

body {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Tipography */

h1 {
  color: var(--title-color);
}

h2 {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.02em;
  text-align: left;
}

h2.shorts--title {
  color: var(--text-white);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

h4 {
  color: var(--description-color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.06em;
  text-align: left;
}

h4.shorts--description {
  color: var(--text-white);
  font-size: 0.75rem;  
  font-weight: 700;
  line-height: 14.06px;
  text-align: left; 
}

p.navmenu {
  font-size: 0.563rem;
  font-weight: 500;
  line-height: 10.55px;
  text-align: left;

}

button {
  color: var(--title-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
  border: none;
}

button.active {
  color: var(--text-white);
}


/* Buttons */

button {
  background-color: var(--button-background-color);
  padding: 8px 12px 8px 12px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;

  cursor: pointer;
}

button.active {
  background-color: var(--button-active-background-color);
}

button.news {
  border: 1.5px solid;
  border-image-source: linear-gradient(80.41deg, #38686E -6.45%, #741B7A 41.42%, #E18185 105.7%);
}

/* Link */

a {
  color: rgb(161, 29, 29);
  text-decoration: none;
}